---
layout: default
---

<div class="home">

  <h1 class="page-heading">Papers</h1>
  <ul>
    <li><a href="https://arxiv.org/abs/1805.02983">Augmenting Recurrent Neural Networks with High-Order User-Contextual Preference for Session-Based Recommendation
(arXiv preprint, 2018)</a></li>
  </ul>

  <h1 class="page-heading"><span class="icon icon--github">{% include icon-github.svg %}</span>Github Repositories</h1>
  <ul>
    <li><a href="https://github.com/yhs-968/NLPCollections">NLP paper summaries and implementations</a></li>
    <li><a href="https://github.com/yhs-968/cs671project">News Headline Generation via Neural Hierarchical Abstractive Summarization(2017, class project)</a></li>
  </ul>

  <h1 class="page-heading"><span class="icon icon--github">{% include icon-github.svg %}</span>Implementations</h1>
  <ul>
    <li><a href="https://github.com/yhs-968/pyGRU4REC">[PyTorch]Session-based Recommendations with Recurrent Neural Networks(ICLR 2016, Hidasi et al.)</a></li>
  </ul>


  <!--List the Posts>
  <!-- <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

</div>
